@model FITCARD.Models.Estabelecimento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="box-titulo">
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-app">
                <i class="glyphicon glyphicon-minus"></i> Excluir
            </button>
            <a class="btn btn-app" href='@Url.Action("index", "estabelecimentos")'>
                <i class="fa  fa-mail-reply"></i> Voltar
            </a>
        </div>
    </div>
</div>
<div class="box-titulo">
    <div class="row">
        <div class="col-sm-4">
            <h2>Excluir Estabelecimento</h2>
        </div>
    </div>
</div>

<h3 class="text-danger">Deseja realmente excluir o estabelecimento?</h3>
<div class="form-horizontal">
    <hr>

    <input id="IDEstabelecimento" name="IDEstabelecimento" type="hidden" >

    <div class="form-group">
        <label class="control-label col-md-2" for="Status">Status</label>
        <div class="col-md-10">
            @if (Model.Status == 1)
            {
                <span class="label label-success" style="font-size: 15px">Ativo</span>
            }
            else
            {
                <span class="label label-danger" style="font-size: 15px">Inativo</span>
            }
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="CNPJ">Data Cadastro</label>
        <div class="col-md-2">
            <input class="form-control text-box single-line" id="DataCadastro" name="DataCadastro" type="text" readonly value='@Model.DataCadastro.ToString("dd/MM/yyyy")' >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="CNPJ">CNPJ</label>
        <div class="col-md-2">
            <input required class="form-control text-box single-line" id="CNPJ" name="CNPJ" type="text" readonly value='@Model.CNPJ'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="RazaoSocial">Razao Social</label>
        <div class="col-md-10">
            <input required class="form-control text-box single-line" id="RazaoSocial" name="RazaoSocial" type="text" readonly value='@Model.RazaoSocial'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="NomeFantasia">Nome Fantasia</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="NomeFantasia" name="NomeFantasia" type="text" readonly value='@Model.NomeFantasia'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Email">E-mail</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Email" name="Email" type="text" readonly value='@Model.Email' >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Endereco">Endereco</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Endereco" name="Endereco" type="text" readonly value='@Model.Endereco'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Cidade">Cidade</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Cidade" name="Cidade" type="text" readonly value='@Model.Cidade'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Estado">Estado</label>
        <div class="col-md-1">
            <input class="form-control text-box single-line" id="Estado" name="Estado" type="text" readonly value='@Model.Estado'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Telefone">Telefone</label>
        <div class="col-md-3">
            <input class="form-control text-box single-line" id="Telefone" name="Telefone" type="text" readonly value='@Model.Telefone'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Categoria">Categoria</label>
        <div class="col-md-3">
            <input class="form-control text-box single-line" id="Categoria" name="Categoria" type="text" readonly value='@Model.Categoria'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Agencia">Agencia</label>
        <div class="col-md-1">
            <input class="form-control text-box single-line" id="Agencia" name="Agencia" type="text" readonly value='@Model.Agencia'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Conta">Conta</label>
        <div class="col-md-2">
            <input class="form-control text-box single-line" id="Conta" name="Conta" type="text" readonly value='@Model.Conta' >
        </div>
    </div>
</div>

}
@section Scripts {
    <script src="~/scripts/jquery.mask.min.js"></script>
    <script>
       $(function () {
           $('#CNPJ').mask('00.000.000/0000-00', { placeholder: "  .   .   /    -  " });
           $('#Telefone').mask('(00)0000-0000', { placeholder: "(  )    -    " });
           $('#Agencia').mask('000-0', { placeholder: "   - " });
           $('#Conta').mask('00.000-0', { placeholder: "  .   - " });
       })
    </script>
    }
   